<!DOCTYPE html> 

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.rust { 
  color: darkred;
}

.rust {
  font-family:  cursvie;
  
}


.plugin  {
 color: red; 


}

.plugin {
font-family: cursive;
  
}

.info {
color: red;

  
}

.info {
font-family: cursive;
}



html {
  background: lightblue; 
}

.yellow {

color: red;
}

.orenge {
color: red;
  
}

