<!DOCTYPE html> 

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.rust { 
  color: darkred;
}

.rust {
  font-family:  Dancing Script;
  
}


.plugin  {
 color: yellow; 


}

.plugin {
font-family: cursive;
  
}

.info {
color: lightblue;

  
}

.info {
font-family: cursive;

 body {
  background-color: red;
}






