<!DOCTYPE html> 

.title {
  color: blue;
}

.red {
  color: red;
}

.rust { 
  color: darkred;
}

.rust {
  font-family:  Dancing Script;
  
}


.plugin  {
 color: yellow; 


}

.plugin {
font-family: cursive;
  
}

.info {
color: lightblue;

  
}

.info {
font-family: cursive;

  body {
  background: linear-gradient(180deg, #0f0f0f, #2b2b2b);
}





